.imgSize {
    width: 200px;
    height: 200px;
}

.html {
    text-align: center;
    color: #333;
    background-color:#888;
}

.css {
    text-align: center;
    color: #333;
    background-color: #888;
}

.colorP {
    color: #ff0000;
    background-color: purple;
}